<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.2.xsd"
	default-autowire="byName">
	
	<!-- artifactId spring-context-support의 설치가 필요하다. -->
	
	<bean id="job01" class="com.hangugi.quartz.group01.Job01" />
	<bean id="job02" class="com.hangugi.quartz.group01.Job02" />
	<bean id="job03" class="com.hangugi.quartz.group02.Job03" />
	<bean id="job04" class="com.hangugi.quartz.group02.Job04" />
	
    <!-- <bean name="dummyJob" class="org.springframework.scheduling.quartz.JobDetailBean" p:jobClass="com.hangugi.quartz.ExtendedQuartzJobBean"> -->
    <bean id="extendedJobDetailBean01" class="org.springframework.scheduling.quartz.JobDetailBean">
    	<property name="jobClass" value="com.hangugi.quartz.group01.ExtendedJobDetailBean01" />
    	<property name="jobDataAsMap">
    		<map>
    			<entry key="job01" value-ref="job01"></entry>
    			<entry key="job02" value-ref="job02"></entry>
    		</map>
    	</property>
    </bean>

    <bean id="extendedJobDetailBean02" class="org.springframework.scheduling.quartz.JobDetailBean">
    	<property name="jobClass" value="com.hangugi.quartz.group02.ExtendedJobDetailBean02" />
    	<property name="jobDataAsMap">
    		<map>
    			<entry key="job03" value-ref="job03"></entry>
    			<entry key="job04" value-ref="job04"></entry>
    		</map>
    	</property>
    </bean>
    
    <bean id="cronTrigger01" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="extendedJobDetailBean01"></property>
        <property name="startDelay" value="1000"></property>
        <property name="cronExpression" value="0/10 * * * * ?"></property>
    </bean>

	<bean id="cronTrigger02" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="extendedJobDetailBean02"></property>
        <property name="startDelay" value="1000"></property>
        <property name="cronExpression" value="0/15 * * * * ?"></property>
    </bean>
    
    <bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cronTrigger01"/>
                <ref bean="cronTrigger02"/>
            </list>
        </property>
    </bean>
</beans>