<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hangugi.dao.MailUserMapper">
  <resultMap id="BaseResultMap" type="com.hangugi.model.MailUser">
    <id column="mail_user_seq" jdbcType="BIGINT" property="mailUserSeq" />
    <result column="mail_uid" jdbcType="VARCHAR" property="mailUid" />
    <result column="mail_domain_seq" jdbcType="BIGINT" property="mailDomainSeq" />
    <result column="mail_group_seq" jdbcType="BIGINT" property="mailGroupSeq" />
    <result column="mail_password" jdbcType="VARCHAR" property="mailPassword" />
    <result column="mail_host" jdbcType="VARCHAR" property="mailHost" />
    <result column="message_store" jdbcType="VARCHAR" property="messageStore" />
    <result column="account_expire_date" jdbcType="VARCHAR" property="accountExpireDate" />
    <result column="account_status" jdbcType="VARCHAR" property="accountStatus" />
    <result column="user_type" jdbcType="VARCHAR" property="userType" />
    <result column="mail_services" jdbcType="BIGINT" property="mailServices" />
    <result column="mail_add_quota" jdbcType="VARCHAR" property="mailAddQuota" />
    <result column="quota_overlook_ratio" jdbcType="VARCHAR" property="quotaOverlookRatio" />
    <result column="quota_warning_mode" jdbcType="VARCHAR" property="quotaWarningMode" />
    <result column="quota_warning_ratio" jdbcType="VARCHAR" property="quotaWarningRatio" />
    <result column="quota_violation_action" jdbcType="VARCHAR" property="quotaViolationAction" />
    <result column="mail_max_send_size" jdbcType="VARCHAR" property="mailMaxSendSize" />
    <result column="inbox_expire_days" jdbcType="VARCHAR" property="inboxExpireDays" />
    <result column="sent_expire_days" jdbcType="VARCHAR" property="sentExpireDays" />
    <result column="trash_expire_days" jdbcType="VARCHAR" property="trashExpireDays" />
    <result column="spam_expire_days" jdbcType="VARCHAR" property="spamExpireDays" />
    <result column="user_expire_days" jdbcType="VARCHAR" property="userExpireDays" />
    <result column="delivery_noti_type" jdbcType="VARCHAR" property="deliveryNotiType" />
    <result column="delivery_noti_mode" jdbcType="VARCHAR" property="deliveryNotiMode" />
    <result column="forwarding_mode" jdbcType="VARCHAR" property="forwardingMode" />
    <result column="hidden_forwarding_mode" jdbcType="VARCHAR" property="hiddenForwardingMode" />
    <result column="auto_reply_mode" jdbcType="VARCHAR" property="autoReplyMode" />
    <result column="auto_reply_include" jdbcType="VARCHAR" property="autoReplyInclude" />
    <result column="auto_reply_start_time" jdbcType="VARCHAR" property="autoReplyStartTime" />
    <result column="auto_reply_end_time" jdbcType="VARCHAR" property="autoReplyEndTime" />
    <result column="auto_reply_subject" jdbcType="VARCHAR" property="autoReplySubject" />
    <result column="auto_reply_text" jdbcType="VARCHAR" property="autoReplyText" />
    <result column="delivery_mode" jdbcType="VARCHAR" property="deliveryMode" />
    <result column="account_dormant_date" jdbcType="VARCHAR" property="accountDormantDate" />
    <result column="account_disabled_date" jdbcType="VARCHAR" property="accountDisabledDate" />
    <result column="account_status_admin" jdbcType="VARCHAR" property="accountStatusAdmin" />
    <result column="send_allow_mode" jdbcType="VARCHAR" property="sendAllowMode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    mail_user_seq, mail_uid, mail_domain_seq, mail_group_seq, mail_password, mail_host, 
    message_store, account_expire_date, account_status, user_type, mail_services, mail_add_quota, 
    quota_overlook_ratio, quota_warning_mode, quota_warning_ratio, quota_violation_action, 
    mail_max_send_size, inbox_expire_days, sent_expire_days, trash_expire_days, spam_expire_days, 
    user_expire_days, delivery_noti_type, delivery_noti_mode, forwarding_mode, hidden_forwarding_mode, 
    auto_reply_mode, auto_reply_include, auto_reply_start_time, auto_reply_end_time, 
    auto_reply_subject, auto_reply_text, delivery_mode, account_dormant_date, account_disabled_date, 
    account_status_admin, send_allow_mode
  </sql>
  <select id="selectByExample" parameterType="com.hangugi.model.MailUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mail_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mail_user
    where mail_user_seq = #{mailUserSeq,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from mail_user
    where mail_user_seq = #{mailUserSeq,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.hangugi.model.MailUserExample">
    delete from mail_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hangugi.model.MailUser">
    insert into mail_user (mail_user_seq, mail_uid, mail_domain_seq, 
      mail_group_seq, mail_password, mail_host, 
      message_store, account_expire_date, account_status, 
      user_type, mail_services, mail_add_quota, 
      quota_overlook_ratio, quota_warning_mode, quota_warning_ratio, 
      quota_violation_action, mail_max_send_size, 
      inbox_expire_days, sent_expire_days, trash_expire_days, 
      spam_expire_days, user_expire_days, delivery_noti_type, 
      delivery_noti_mode, forwarding_mode, hidden_forwarding_mode, 
      auto_reply_mode, auto_reply_include, auto_reply_start_time, 
      auto_reply_end_time, auto_reply_subject, auto_reply_text, 
      delivery_mode, account_dormant_date, account_disabled_date, 
      account_status_admin, send_allow_mode)
    values (#{mailUserSeq,jdbcType=BIGINT}, #{mailUid,jdbcType=VARCHAR}, #{mailDomainSeq,jdbcType=BIGINT}, 
      #{mailGroupSeq,jdbcType=BIGINT}, #{mailPassword,jdbcType=VARCHAR}, #{mailHost,jdbcType=VARCHAR}, 
      #{messageStore,jdbcType=VARCHAR}, #{accountExpireDate,jdbcType=VARCHAR}, #{accountStatus,jdbcType=VARCHAR}, 
      #{userType,jdbcType=VARCHAR}, #{mailServices,jdbcType=BIGINT}, #{mailAddQuota,jdbcType=VARCHAR}, 
      #{quotaOverlookRatio,jdbcType=VARCHAR}, #{quotaWarningMode,jdbcType=VARCHAR}, #{quotaWarningRatio,jdbcType=VARCHAR}, 
      #{quotaViolationAction,jdbcType=VARCHAR}, #{mailMaxSendSize,jdbcType=VARCHAR}, 
      #{inboxExpireDays,jdbcType=VARCHAR}, #{sentExpireDays,jdbcType=VARCHAR}, #{trashExpireDays,jdbcType=VARCHAR}, 
      #{spamExpireDays,jdbcType=VARCHAR}, #{userExpireDays,jdbcType=VARCHAR}, #{deliveryNotiType,jdbcType=VARCHAR}, 
      #{deliveryNotiMode,jdbcType=VARCHAR}, #{forwardingMode,jdbcType=VARCHAR}, #{hiddenForwardingMode,jdbcType=VARCHAR}, 
      #{autoReplyMode,jdbcType=VARCHAR}, #{autoReplyInclude,jdbcType=VARCHAR}, #{autoReplyStartTime,jdbcType=VARCHAR}, 
      #{autoReplyEndTime,jdbcType=VARCHAR}, #{autoReplySubject,jdbcType=VARCHAR}, #{autoReplyText,jdbcType=VARCHAR}, 
      #{deliveryMode,jdbcType=VARCHAR}, #{accountDormantDate,jdbcType=VARCHAR}, #{accountDisabledDate,jdbcType=VARCHAR}, 
      #{accountStatusAdmin,jdbcType=VARCHAR}, #{sendAllowMode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hangugi.model.MailUser">
    insert into mail_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mailUserSeq != null">
        mail_user_seq,
      </if>
      <if test="mailUid != null">
        mail_uid,
      </if>
      <if test="mailDomainSeq != null">
        mail_domain_seq,
      </if>
      <if test="mailGroupSeq != null">
        mail_group_seq,
      </if>
      <if test="mailPassword != null">
        mail_password,
      </if>
      <if test="mailHost != null">
        mail_host,
      </if>
      <if test="messageStore != null">
        message_store,
      </if>
      <if test="accountExpireDate != null">
        account_expire_date,
      </if>
      <if test="accountStatus != null">
        account_status,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="mailServices != null">
        mail_services,
      </if>
      <if test="mailAddQuota != null">
        mail_add_quota,
      </if>
      <if test="quotaOverlookRatio != null">
        quota_overlook_ratio,
      </if>
      <if test="quotaWarningMode != null">
        quota_warning_mode,
      </if>
      <if test="quotaWarningRatio != null">
        quota_warning_ratio,
      </if>
      <if test="quotaViolationAction != null">
        quota_violation_action,
      </if>
      <if test="mailMaxSendSize != null">
        mail_max_send_size,
      </if>
      <if test="inboxExpireDays != null">
        inbox_expire_days,
      </if>
      <if test="sentExpireDays != null">
        sent_expire_days,
      </if>
      <if test="trashExpireDays != null">
        trash_expire_days,
      </if>
      <if test="spamExpireDays != null">
        spam_expire_days,
      </if>
      <if test="userExpireDays != null">
        user_expire_days,
      </if>
      <if test="deliveryNotiType != null">
        delivery_noti_type,
      </if>
      <if test="deliveryNotiMode != null">
        delivery_noti_mode,
      </if>
      <if test="forwardingMode != null">
        forwarding_mode,
      </if>
      <if test="hiddenForwardingMode != null">
        hidden_forwarding_mode,
      </if>
      <if test="autoReplyMode != null">
        auto_reply_mode,
      </if>
      <if test="autoReplyInclude != null">
        auto_reply_include,
      </if>
      <if test="autoReplyStartTime != null">
        auto_reply_start_time,
      </if>
      <if test="autoReplyEndTime != null">
        auto_reply_end_time,
      </if>
      <if test="autoReplySubject != null">
        auto_reply_subject,
      </if>
      <if test="autoReplyText != null">
        auto_reply_text,
      </if>
      <if test="deliveryMode != null">
        delivery_mode,
      </if>
      <if test="accountDormantDate != null">
        account_dormant_date,
      </if>
      <if test="accountDisabledDate != null">
        account_disabled_date,
      </if>
      <if test="accountStatusAdmin != null">
        account_status_admin,
      </if>
      <if test="sendAllowMode != null">
        send_allow_mode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mailUserSeq != null">
        #{mailUserSeq,jdbcType=BIGINT},
      </if>
      <if test="mailUid != null">
        #{mailUid,jdbcType=VARCHAR},
      </if>
      <if test="mailDomainSeq != null">
        #{mailDomainSeq,jdbcType=BIGINT},
      </if>
      <if test="mailGroupSeq != null">
        #{mailGroupSeq,jdbcType=BIGINT},
      </if>
      <if test="mailPassword != null">
        #{mailPassword,jdbcType=VARCHAR},
      </if>
      <if test="mailHost != null">
        #{mailHost,jdbcType=VARCHAR},
      </if>
      <if test="messageStore != null">
        #{messageStore,jdbcType=VARCHAR},
      </if>
      <if test="accountExpireDate != null">
        #{accountExpireDate,jdbcType=VARCHAR},
      </if>
      <if test="accountStatus != null">
        #{accountStatus,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="mailServices != null">
        #{mailServices,jdbcType=BIGINT},
      </if>
      <if test="mailAddQuota != null">
        #{mailAddQuota,jdbcType=VARCHAR},
      </if>
      <if test="quotaOverlookRatio != null">
        #{quotaOverlookRatio,jdbcType=VARCHAR},
      </if>
      <if test="quotaWarningMode != null">
        #{quotaWarningMode,jdbcType=VARCHAR},
      </if>
      <if test="quotaWarningRatio != null">
        #{quotaWarningRatio,jdbcType=VARCHAR},
      </if>
      <if test="quotaViolationAction != null">
        #{quotaViolationAction,jdbcType=VARCHAR},
      </if>
      <if test="mailMaxSendSize != null">
        #{mailMaxSendSize,jdbcType=VARCHAR},
      </if>
      <if test="inboxExpireDays != null">
        #{inboxExpireDays,jdbcType=VARCHAR},
      </if>
      <if test="sentExpireDays != null">
        #{sentExpireDays,jdbcType=VARCHAR},
      </if>
      <if test="trashExpireDays != null">
        #{trashExpireDays,jdbcType=VARCHAR},
      </if>
      <if test="spamExpireDays != null">
        #{spamExpireDays,jdbcType=VARCHAR},
      </if>
      <if test="userExpireDays != null">
        #{userExpireDays,jdbcType=VARCHAR},
      </if>
      <if test="deliveryNotiType != null">
        #{deliveryNotiType,jdbcType=VARCHAR},
      </if>
      <if test="deliveryNotiMode != null">
        #{deliveryNotiMode,jdbcType=VARCHAR},
      </if>
      <if test="forwardingMode != null">
        #{forwardingMode,jdbcType=VARCHAR},
      </if>
      <if test="hiddenForwardingMode != null">
        #{hiddenForwardingMode,jdbcType=VARCHAR},
      </if>
      <if test="autoReplyMode != null">
        #{autoReplyMode,jdbcType=VARCHAR},
      </if>
      <if test="autoReplyInclude != null">
        #{autoReplyInclude,jdbcType=VARCHAR},
      </if>
      <if test="autoReplyStartTime != null">
        #{autoReplyStartTime,jdbcType=VARCHAR},
      </if>
      <if test="autoReplyEndTime != null">
        #{autoReplyEndTime,jdbcType=VARCHAR},
      </if>
      <if test="autoReplySubject != null">
        #{autoReplySubject,jdbcType=VARCHAR},
      </if>
      <if test="autoReplyText != null">
        #{autoReplyText,jdbcType=VARCHAR},
      </if>
      <if test="deliveryMode != null">
        #{deliveryMode,jdbcType=VARCHAR},
      </if>
      <if test="accountDormantDate != null">
        #{accountDormantDate,jdbcType=VARCHAR},
      </if>
      <if test="accountDisabledDate != null">
        #{accountDisabledDate,jdbcType=VARCHAR},
      </if>
      <if test="accountStatusAdmin != null">
        #{accountStatusAdmin,jdbcType=VARCHAR},
      </if>
      <if test="sendAllowMode != null">
        #{sendAllowMode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hangugi.model.MailUserExample" resultType="java.lang.Integer">
    select count(*) from mail_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mail_user
    <set>
      <if test="record.mailUserSeq != null">
        mail_user_seq = #{record.mailUserSeq,jdbcType=BIGINT},
      </if>
      <if test="record.mailUid != null">
        mail_uid = #{record.mailUid,jdbcType=VARCHAR},
      </if>
      <if test="record.mailDomainSeq != null">
        mail_domain_seq = #{record.mailDomainSeq,jdbcType=BIGINT},
      </if>
      <if test="record.mailGroupSeq != null">
        mail_group_seq = #{record.mailGroupSeq,jdbcType=BIGINT},
      </if>
      <if test="record.mailPassword != null">
        mail_password = #{record.mailPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.mailHost != null">
        mail_host = #{record.mailHost,jdbcType=VARCHAR},
      </if>
      <if test="record.messageStore != null">
        message_store = #{record.messageStore,jdbcType=VARCHAR},
      </if>
      <if test="record.accountExpireDate != null">
        account_expire_date = #{record.accountExpireDate,jdbcType=VARCHAR},
      </if>
      <if test="record.accountStatus != null">
        account_status = #{record.accountStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.userType != null">
        user_type = #{record.userType,jdbcType=VARCHAR},
      </if>
      <if test="record.mailServices != null">
        mail_services = #{record.mailServices,jdbcType=BIGINT},
      </if>
      <if test="record.mailAddQuota != null">
        mail_add_quota = #{record.mailAddQuota,jdbcType=VARCHAR},
      </if>
      <if test="record.quotaOverlookRatio != null">
        quota_overlook_ratio = #{record.quotaOverlookRatio,jdbcType=VARCHAR},
      </if>
      <if test="record.quotaWarningMode != null">
        quota_warning_mode = #{record.quotaWarningMode,jdbcType=VARCHAR},
      </if>
      <if test="record.quotaWarningRatio != null">
        quota_warning_ratio = #{record.quotaWarningRatio,jdbcType=VARCHAR},
      </if>
      <if test="record.quotaViolationAction != null">
        quota_violation_action = #{record.quotaViolationAction,jdbcType=VARCHAR},
      </if>
      <if test="record.mailMaxSendSize != null">
        mail_max_send_size = #{record.mailMaxSendSize,jdbcType=VARCHAR},
      </if>
      <if test="record.inboxExpireDays != null">
        inbox_expire_days = #{record.inboxExpireDays,jdbcType=VARCHAR},
      </if>
      <if test="record.sentExpireDays != null">
        sent_expire_days = #{record.sentExpireDays,jdbcType=VARCHAR},
      </if>
      <if test="record.trashExpireDays != null">
        trash_expire_days = #{record.trashExpireDays,jdbcType=VARCHAR},
      </if>
      <if test="record.spamExpireDays != null">
        spam_expire_days = #{record.spamExpireDays,jdbcType=VARCHAR},
      </if>
      <if test="record.userExpireDays != null">
        user_expire_days = #{record.userExpireDays,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryNotiType != null">
        delivery_noti_type = #{record.deliveryNotiType,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryNotiMode != null">
        delivery_noti_mode = #{record.deliveryNotiMode,jdbcType=VARCHAR},
      </if>
      <if test="record.forwardingMode != null">
        forwarding_mode = #{record.forwardingMode,jdbcType=VARCHAR},
      </if>
      <if test="record.hiddenForwardingMode != null">
        hidden_forwarding_mode = #{record.hiddenForwardingMode,jdbcType=VARCHAR},
      </if>
      <if test="record.autoReplyMode != null">
        auto_reply_mode = #{record.autoReplyMode,jdbcType=VARCHAR},
      </if>
      <if test="record.autoReplyInclude != null">
        auto_reply_include = #{record.autoReplyInclude,jdbcType=VARCHAR},
      </if>
      <if test="record.autoReplyStartTime != null">
        auto_reply_start_time = #{record.autoReplyStartTime,jdbcType=VARCHAR},
      </if>
      <if test="record.autoReplyEndTime != null">
        auto_reply_end_time = #{record.autoReplyEndTime,jdbcType=VARCHAR},
      </if>
      <if test="record.autoReplySubject != null">
        auto_reply_subject = #{record.autoReplySubject,jdbcType=VARCHAR},
      </if>
      <if test="record.autoReplyText != null">
        auto_reply_text = #{record.autoReplyText,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryMode != null">
        delivery_mode = #{record.deliveryMode,jdbcType=VARCHAR},
      </if>
      <if test="record.accountDormantDate != null">
        account_dormant_date = #{record.accountDormantDate,jdbcType=VARCHAR},
      </if>
      <if test="record.accountDisabledDate != null">
        account_disabled_date = #{record.accountDisabledDate,jdbcType=VARCHAR},
      </if>
      <if test="record.accountStatusAdmin != null">
        account_status_admin = #{record.accountStatusAdmin,jdbcType=VARCHAR},
      </if>
      <if test="record.sendAllowMode != null">
        send_allow_mode = #{record.sendAllowMode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mail_user
    set mail_user_seq = #{record.mailUserSeq,jdbcType=BIGINT},
      mail_uid = #{record.mailUid,jdbcType=VARCHAR},
      mail_domain_seq = #{record.mailDomainSeq,jdbcType=BIGINT},
      mail_group_seq = #{record.mailGroupSeq,jdbcType=BIGINT},
      mail_password = #{record.mailPassword,jdbcType=VARCHAR},
      mail_host = #{record.mailHost,jdbcType=VARCHAR},
      message_store = #{record.messageStore,jdbcType=VARCHAR},
      account_expire_date = #{record.accountExpireDate,jdbcType=VARCHAR},
      account_status = #{record.accountStatus,jdbcType=VARCHAR},
      user_type = #{record.userType,jdbcType=VARCHAR},
      mail_services = #{record.mailServices,jdbcType=BIGINT},
      mail_add_quota = #{record.mailAddQuota,jdbcType=VARCHAR},
      quota_overlook_ratio = #{record.quotaOverlookRatio,jdbcType=VARCHAR},
      quota_warning_mode = #{record.quotaWarningMode,jdbcType=VARCHAR},
      quota_warning_ratio = #{record.quotaWarningRatio,jdbcType=VARCHAR},
      quota_violation_action = #{record.quotaViolationAction,jdbcType=VARCHAR},
      mail_max_send_size = #{record.mailMaxSendSize,jdbcType=VARCHAR},
      inbox_expire_days = #{record.inboxExpireDays,jdbcType=VARCHAR},
      sent_expire_days = #{record.sentExpireDays,jdbcType=VARCHAR},
      trash_expire_days = #{record.trashExpireDays,jdbcType=VARCHAR},
      spam_expire_days = #{record.spamExpireDays,jdbcType=VARCHAR},
      user_expire_days = #{record.userExpireDays,jdbcType=VARCHAR},
      delivery_noti_type = #{record.deliveryNotiType,jdbcType=VARCHAR},
      delivery_noti_mode = #{record.deliveryNotiMode,jdbcType=VARCHAR},
      forwarding_mode = #{record.forwardingMode,jdbcType=VARCHAR},
      hidden_forwarding_mode = #{record.hiddenForwardingMode,jdbcType=VARCHAR},
      auto_reply_mode = #{record.autoReplyMode,jdbcType=VARCHAR},
      auto_reply_include = #{record.autoReplyInclude,jdbcType=VARCHAR},
      auto_reply_start_time = #{record.autoReplyStartTime,jdbcType=VARCHAR},
      auto_reply_end_time = #{record.autoReplyEndTime,jdbcType=VARCHAR},
      auto_reply_subject = #{record.autoReplySubject,jdbcType=VARCHAR},
      auto_reply_text = #{record.autoReplyText,jdbcType=VARCHAR},
      delivery_mode = #{record.deliveryMode,jdbcType=VARCHAR},
      account_dormant_date = #{record.accountDormantDate,jdbcType=VARCHAR},
      account_disabled_date = #{record.accountDisabledDate,jdbcType=VARCHAR},
      account_status_admin = #{record.accountStatusAdmin,jdbcType=VARCHAR},
      send_allow_mode = #{record.sendAllowMode,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hangugi.model.MailUser">
    update mail_user
    <set>
      <if test="mailUid != null">
        mail_uid = #{mailUid,jdbcType=VARCHAR},
      </if>
      <if test="mailDomainSeq != null">
        mail_domain_seq = #{mailDomainSeq,jdbcType=BIGINT},
      </if>
      <if test="mailGroupSeq != null">
        mail_group_seq = #{mailGroupSeq,jdbcType=BIGINT},
      </if>
      <if test="mailPassword != null">
        mail_password = #{mailPassword,jdbcType=VARCHAR},
      </if>
      <if test="mailHost != null">
        mail_host = #{mailHost,jdbcType=VARCHAR},
      </if>
      <if test="messageStore != null">
        message_store = #{messageStore,jdbcType=VARCHAR},
      </if>
      <if test="accountExpireDate != null">
        account_expire_date = #{accountExpireDate,jdbcType=VARCHAR},
      </if>
      <if test="accountStatus != null">
        account_status = #{accountStatus,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="mailServices != null">
        mail_services = #{mailServices,jdbcType=BIGINT},
      </if>
      <if test="mailAddQuota != null">
        mail_add_quota = #{mailAddQuota,jdbcType=VARCHAR},
      </if>
      <if test="quotaOverlookRatio != null">
        quota_overlook_ratio = #{quotaOverlookRatio,jdbcType=VARCHAR},
      </if>
      <if test="quotaWarningMode != null">
        quota_warning_mode = #{quotaWarningMode,jdbcType=VARCHAR},
      </if>
      <if test="quotaWarningRatio != null">
        quota_warning_ratio = #{quotaWarningRatio,jdbcType=VARCHAR},
      </if>
      <if test="quotaViolationAction != null">
        quota_violation_action = #{quotaViolationAction,jdbcType=VARCHAR},
      </if>
      <if test="mailMaxSendSize != null">
        mail_max_send_size = #{mailMaxSendSize,jdbcType=VARCHAR},
      </if>
      <if test="inboxExpireDays != null">
        inbox_expire_days = #{inboxExpireDays,jdbcType=VARCHAR},
      </if>
      <if test="sentExpireDays != null">
        sent_expire_days = #{sentExpireDays,jdbcType=VARCHAR},
      </if>
      <if test="trashExpireDays != null">
        trash_expire_days = #{trashExpireDays,jdbcType=VARCHAR},
      </if>
      <if test="spamExpireDays != null">
        spam_expire_days = #{spamExpireDays,jdbcType=VARCHAR},
      </if>
      <if test="userExpireDays != null">
        user_expire_days = #{userExpireDays,jdbcType=VARCHAR},
      </if>
      <if test="deliveryNotiType != null">
        delivery_noti_type = #{deliveryNotiType,jdbcType=VARCHAR},
      </if>
      <if test="deliveryNotiMode != null">
        delivery_noti_mode = #{deliveryNotiMode,jdbcType=VARCHAR},
      </if>
      <if test="forwardingMode != null">
        forwarding_mode = #{forwardingMode,jdbcType=VARCHAR},
      </if>
      <if test="hiddenForwardingMode != null">
        hidden_forwarding_mode = #{hiddenForwardingMode,jdbcType=VARCHAR},
      </if>
      <if test="autoReplyMode != null">
        auto_reply_mode = #{autoReplyMode,jdbcType=VARCHAR},
      </if>
      <if test="autoReplyInclude != null">
        auto_reply_include = #{autoReplyInclude,jdbcType=VARCHAR},
      </if>
      <if test="autoReplyStartTime != null">
        auto_reply_start_time = #{autoReplyStartTime,jdbcType=VARCHAR},
      </if>
      <if test="autoReplyEndTime != null">
        auto_reply_end_time = #{autoReplyEndTime,jdbcType=VARCHAR},
      </if>
      <if test="autoReplySubject != null">
        auto_reply_subject = #{autoReplySubject,jdbcType=VARCHAR},
      </if>
      <if test="autoReplyText != null">
        auto_reply_text = #{autoReplyText,jdbcType=VARCHAR},
      </if>
      <if test="deliveryMode != null">
        delivery_mode = #{deliveryMode,jdbcType=VARCHAR},
      </if>
      <if test="accountDormantDate != null">
        account_dormant_date = #{accountDormantDate,jdbcType=VARCHAR},
      </if>
      <if test="accountDisabledDate != null">
        account_disabled_date = #{accountDisabledDate,jdbcType=VARCHAR},
      </if>
      <if test="accountStatusAdmin != null">
        account_status_admin = #{accountStatusAdmin,jdbcType=VARCHAR},
      </if>
      <if test="sendAllowMode != null">
        send_allow_mode = #{sendAllowMode,jdbcType=VARCHAR},
      </if>
    </set>
    where mail_user_seq = #{mailUserSeq,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hangugi.model.MailUser">
    update mail_user
    set mail_uid = #{mailUid,jdbcType=VARCHAR},
      mail_domain_seq = #{mailDomainSeq,jdbcType=BIGINT},
      mail_group_seq = #{mailGroupSeq,jdbcType=BIGINT},
      mail_password = #{mailPassword,jdbcType=VARCHAR},
      mail_host = #{mailHost,jdbcType=VARCHAR},
      message_store = #{messageStore,jdbcType=VARCHAR},
      account_expire_date = #{accountExpireDate,jdbcType=VARCHAR},
      account_status = #{accountStatus,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=VARCHAR},
      mail_services = #{mailServices,jdbcType=BIGINT},
      mail_add_quota = #{mailAddQuota,jdbcType=VARCHAR},
      quota_overlook_ratio = #{quotaOverlookRatio,jdbcType=VARCHAR},
      quota_warning_mode = #{quotaWarningMode,jdbcType=VARCHAR},
      quota_warning_ratio = #{quotaWarningRatio,jdbcType=VARCHAR},
      quota_violation_action = #{quotaViolationAction,jdbcType=VARCHAR},
      mail_max_send_size = #{mailMaxSendSize,jdbcType=VARCHAR},
      inbox_expire_days = #{inboxExpireDays,jdbcType=VARCHAR},
      sent_expire_days = #{sentExpireDays,jdbcType=VARCHAR},
      trash_expire_days = #{trashExpireDays,jdbcType=VARCHAR},
      spam_expire_days = #{spamExpireDays,jdbcType=VARCHAR},
      user_expire_days = #{userExpireDays,jdbcType=VARCHAR},
      delivery_noti_type = #{deliveryNotiType,jdbcType=VARCHAR},
      delivery_noti_mode = #{deliveryNotiMode,jdbcType=VARCHAR},
      forwarding_mode = #{forwardingMode,jdbcType=VARCHAR},
      hidden_forwarding_mode = #{hiddenForwardingMode,jdbcType=VARCHAR},
      auto_reply_mode = #{autoReplyMode,jdbcType=VARCHAR},
      auto_reply_include = #{autoReplyInclude,jdbcType=VARCHAR},
      auto_reply_start_time = #{autoReplyStartTime,jdbcType=VARCHAR},
      auto_reply_end_time = #{autoReplyEndTime,jdbcType=VARCHAR},
      auto_reply_subject = #{autoReplySubject,jdbcType=VARCHAR},
      auto_reply_text = #{autoReplyText,jdbcType=VARCHAR},
      delivery_mode = #{deliveryMode,jdbcType=VARCHAR},
      account_dormant_date = #{accountDormantDate,jdbcType=VARCHAR},
      account_disabled_date = #{accountDisabledDate,jdbcType=VARCHAR},
      account_status_admin = #{accountStatusAdmin,jdbcType=VARCHAR},
      send_allow_mode = #{sendAllowMode,jdbcType=VARCHAR}
    where mail_user_seq = #{mailUserSeq,jdbcType=BIGINT}
  </update>
</mapper>